{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner">
        <div class="container text-center">

            <span class="ban-text"><h1>NOUS POUVONS AMELIORER L'IMAGE DE <br> VOTRE ENTREPRISE SUR LE WEB</h1></span>

            {{ include ('contact/_btn-contact.html.twig') }}
        </div>
    </section>

    <!--================Hero Banner Area End =================-->


    <!--================ Innovation section Start =================-->
    {#<section class="section-padding--small bg-gray">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-lg-6 align-self-center mb-5 mb-lg-0">#}
    {#<div class="innovative-wrapper">#}
    {#<h3 class="primary-text">Innovative With Experience <br class="d-none d-xl-block"> UX Design 2019</h3>#}
    {#<p class="h4 primary-text2 mb-3">Where The business World Meets</p>#}
    {#<p>Morning steas great earth for divide our good sixth called abunda itseld appear fisrd seaton upon above may bearing all moveth morning make subdue stars they are a goreat eart divide our good sixth one of that</p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-6 pl-xl-5">#}

    {#<ul class="clockdiv text-center" id="clockdiv">#}
    {#<li class="clockdiv-single clockdiv-day">#}
    {#<h1 class="days">320</h1>#}
    {#<span class="smalltext">Days</span>#}
    {#</li>#}
    {#<li class="clockdiv-single clockdiv-hour">#}
    {#<h1 class="hours">30</h1>#}
    {#<span class="smalltext">Hours</span>#}
    {#</li>#}
    {#<li class="clockdiv-single clockdiv-minute">#}
    {#<h1 class="minutes">30</h1>#}
    {#<span class="smalltext">Mins</span>#}
    {#</li>#}
    {#</ul>#}

    {#<div class="clockdiv-content text-center">#}
    {#<p class="h4 primary-text2 mb-2"></p>#}
    {#<a class="button button-link" href="#">Consultation gratuite</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}
    <!--================ Innovation section End =================-->


    <!--================ Join section Start =================-->
    <section class="section-margin">
        <div class="container">
            <div class="section-intro text-center pb-98px">
                <h2 class="primary-text">Nos solutions digitales</h2>
                {#<img src="{{ asset ('img/home/section-style.png') }}" alt="">#}
            </div>


            <div class="d-lg-flex justify-content-between ">
                <div class="card-feature mb-5 mb-lg-0">
                    <div class="">
                        <img src="{{ asset ('img/font/rocket.png') }}" alt="" class="img-svc">
                    </div>
                    <h3>Optimisation des moteurs de recherche</h3>
                    <p>Il s’agit d’un système permettant d’augmenter le pourcentage de visiteurs
                        d’un site Web pouvant être convertis en clients ou, plus généralement, prendre les mesures souhaitées sur une page Web.</p>
                </div>

                <div class="card-feature mb-5 mb-lg-0">
                    <div class="">
                        <img src="{{ asset ('img/font/internet.png') }}" alt="" class="img-svc">
                    </div>
                    <h3>Gestion des médias sociaux</h3>
                    <p>Le contenu des médias sociaux peut augmenter votre trafic sur une courte période.
                        Nos experts peuvent vous aider à déterminer le type de contenu et la plate-forme les mieux adaptés à votre marque. </p>
                </div>

                <div class="card-feature mb-5 mb-lg-0">
                    <div class="">
                        <img src="{{ asset ('img/font/email.png') }}" alt="" class="img-svc">
                    </div>
                    <h3>Email marketing</h3>
                    <p>Notre équipe est prête à concevoir,
                        créer et fournir un modèle de courrier électronique pour la communication avec votre
                        public, ainsi que pour gérer votre campagne de marketing par courrier électronique afin d’entraîner
                        des changements spectaculaires dans vos ventes et votre rentabilité. </p>
                </div>

                <div class="card-feature mb-5 mb-lg-0">
                    <div class="">
                        <img src="{{ asset ('img/font/monitor.png') }}" alt="" class="img-svc">
                    </div>
                    <h3>Création de sites web</h3>
                    <p>Les utilisateurs apprécient les sites esthétiques et faciles à naviguer.
                        Laissez notre équipe aider votre site à faire une première impression exceptionnelle avec rapidité et accessibilité. </p>
                </div>
            </div>

        </div>
    </section>
    <!--================ Join section End =================-->


    <!--================ Speaker section Start =================-->
    <section class="speaker-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-12 mb-lg-0">
                    <span><h3 class="divider-sm text-white">Promouvoir votre marque <br class="veil reveal-md-inline"> Avec nos services</h3></span>
                    <p class="offset-top-75 offset-lg-top-87 text-white text-justify promote-text-size"> Chaque entreprise souhaite occuper une position de
                        leader dans l’industrie. Nous sommes prêts à donner à votre entreprise des avantages tels que la
                        définition de vos objectifs commerciaux, l'identification de votre public cible, la création de contenu attrayant, etc.</p>
                    <blockquote class=" quote inset-lg-left-102 offset-top-25 inset-left-43 text-white text-justify">
                        Nous adapterons des stratégies de marketing par médias sociaux spécialement conçues pour votre marque et votre public.
                    </blockquote>

                </div>
                <div class="col-lg-6 col-sm-12 mb-12 mb-lg-0">
                    <img src="{{ asset ('img/banner/banner-content-img.png') }}" alt="" class="img-promote">
                </div>



            </div>
        </div>
    </section>

    <section class="speaker-bg-1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-12 mb-lg-0">
                    <img src="{{ asset ('img/banner/agency.png') }}" alt="" class="img-promote-1">
                </div>
                <div class="col-lg-6 col-sm-12 mb-6 mb-lg-0 posi">
                    <span><h3 class="divider text-black">Solution parfaite pour tous  <br class="veil reveal-md-inline"> vos Besoins de marketing en ligne</h3></span>
                    <p class="offset-top-75 offset-lg-top-87 text-black promote-1-text-size">Pour réussir, votre entreprise ne doit pas seulement être sur Internet.
                        Pour prospèrer, elle doit également comprendre le fonctionnement des stratégies commerciales et financières.
                        Nous sommes fiers de fournir des solutions de marketing digitales convaincantes et nos solutions vous aiderons à interagir et à
                        dialoguer avec vos clients de la meilleure façon possible.
                    </p>
                    <div class="text-center btn-cons"><a class="button button-header" href="#">Consultation gratuite</a></div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Speaker section End =================-->


    <!--================ Blog section Start =================-->
    {#<section class="section-margin">#}
    {#<div class="container">#}
    {#<div class="section-intro text-center ">#}
    {#<p class="section-intro__title">Join the event</p>#}
    {#<h2 class="primary-text">Why Join Ummet</h2>#}
    {#<img src="img/home/section-style.png" alt="">#}
    {#</div>#}


    {#</div>#}
    {#</section>#}
    {{ include ('contact/_analyse-form.html.twig') }}

{% endblock %}



