{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block content %}


    <!--================section about us =================-->
    <section class="speaker-bg-1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                    <img src="{{ asset ('img/about-us/web_design.png') }}" alt="" class="img-promote-1 ">
                </div>
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0 text-left">
                    <span><h3 class="divider text-black">Conception et développement Web</h3></span>
                    <p class="offset-top-75 offset-lg-top-87 text-justify text-black promote-1-text-size">
                        Vos clients ne vous donneront pas une seconde chance de faire une première impression.
                        Dans un monde numérique, les premières impressions sont essentielles et une conception Web exceptionnelle est la clé du
                        succès. Les utilisateurs apprécient les sites esthétiques et faciles à naviguer.
                        Laissez notre équipe aider votre site à faire une première impression exceptionnelle avec rapidité et accessibilité.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!--================end about us=================-->
    {#<section class="section-margin">#}
        {#<div class="container">#}

            {#<div class="d-lg-flex justify-content-between ">#}
                {#<div class="card-feature mb-5 mb-lg-0">#}
                    {#<div class="">#}
                        {#<img src="{{ asset ('img/font/rocket.png') }}" alt="" class="img-svc">#}
                    {#</div>#}
                    {#<h3>Email campagne</h3>#}
                    {#<p>Notre équipe est prête à concevoir, créer et fournir un modèle de courrier électronique#}
                        {#pour la communication avec votre public, ainsi que pour gérer votre campagne de marketing#}
                        {#par courrier électronique afin d’entraîner des changements spectaculaires dans vos ventes et votre rentabilité.</p>#}
                {#</div>#}

                {#<div class="card-feature mb-5 mb-lg-0">#}
                    {#<div class="">#}
                        {#<img src="{{ asset ('img/font/internet.png') }}" alt="" class="img-svc">#}
                    {#</div>#}
                    {#<h3>Suivi et rapport</h3>#}
                    {#<p>Recevez des rapports détaillés sur les principaux aspects de votre campagne, tels que les personnes#}
                        {#qui ont cliqué sur votre adresse électronique pour accéder à votre site, les sites sur#}
                        {#lesquels elles ont cliqué et celles qui ont converti.</p>#}
                {#</div>#}
                {#<div class="card-feature mb-5 mb-lg-0">#}
                    {#<div class="">#}
                        {#<img src="{{ asset ('img/font/monitor.png') }}" alt="" class="img-svc">#}
                    {#</div>#}
                    {#<h3>Modèle de courrier électronique</h3>#}
                    {#<p>Nos conceptions et solutions innovantes sont conformes et améliorent la délivrabilité de la messagerie.#}
                        {#Nos designers professionnels donnent vie à votre message et augmentent la participation de votre public cible avec votre marque.</p>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</section>#}

    <section class="speaker-bg-1 section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0 ">
                    {#<span><h5 class="divider text-black">Recherche par mot clé / Stratégie</h5></span>#}
                    {#<div class="divider-lg-2 offset-top-10"></div>#}
                    <p class="offset-top-75 offset-lg-top-87 text-justify text-black promote-1-text-size">
                        Notre agence permettra à votre entreprise de se faire remarquer dans le monde numérique en utilisant
                        l'ingéniosité du design pour créer la personnalité de la marque à un impact durable. Nous fournissons divers ensembles de
                        design personnalisables et nous nous concentrons sur la création d'un site Web adapté à votre marque tout en engageant vos
                        visiteurs. Notre équipe présente, révise et collabore avec vous jusqu'à ce que nous finalisions le design parfait pour vos
                        besoins.
                    </p>
                    <p class="offset-top-75 offset-lg-top-87 text-justify text-black promote-1-text-size">
                        Nous pensons qu'une collaboration étroite est la base d'un résultat exceptionnel. En commençant par les audits de contenu
                        lorsque nous évaluons vos besoins et vos exigences en vue d’une analyse concurrentielle soulignant les opportunités, nous
                        collaborons à chaque étape du processus.
                    </p>
                    <div class="text-center btn-cons">{{ include ('contact/_btn-contact.html.twig', {'button_label': 'Analyer votre site'})  }}</div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                    <img src="{{ asset ('img/about-us/halo.png') }}" alt="" class="img-promote-1 ">
                </div>
            </div>
        </div>
    </section>


{% endblock %}
