{{  form_start(form,{'attr':{'class':'form-contact contact_form ','novalidate':'novalidate'},'action': path('am_contact')}) }}
<div class="row">


    <div class="col-sm-6 form-error-message">
        <div class="form-group" >
            {#<input class="form-control" id="name" name="firstname"  type="text" placeholder="Nom">#}
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
    </div>
    <div class="col-sm-6 form-error-message">
        <div class="form-group" >
            {#<input class="form-control" name="lastname" id="name"  type="text" placeholder="Prénoms">#}
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
    </div>
    <div class="col-sm-6 form-error-message">
        <div class="form-group" >
            {#<input class="form-control" name="email" id="email"  type="email" placeholder="Adresse email">#}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="col-sm-6 form-error-message">
        <div class="form-group" >
            {#<input class="form-control" name="phone" id="name"  type="text" placeholder="Téléphone">#}
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>
    <div class="col-12 form-error-message">
        <div class="form-group" >
            {#<textarea class="form-control w-100" name="message" id="message"  cols="30" rows="9" placeholder="Laissez votre message"></textarea>#}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    </div>
</div>
<div class="form-group mt-3">
    <button type="submit" class="button button-contactForm">{{ button_label|default('Envoyer') }}</button>
</div>
{#</form>#}

                    {{ form_end(form) }}